.row {
  max-width: 100rem;
}

h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 40px;
  color: white;
  padding-top: 30px;
}

h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 30px;
  color: white;
}

h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: white;
}

body {
  background-color: #AAB3AB;
}

p {
  color: white;
  font-size: 16px;
}

.img-circle {
  width: 400px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
}
